[data-path^='pages.1.subPages.']:last-child {
  background-image: url(images/footer-blue.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 109px;
  background-origin: content-box;
}

[data-path^='pages.2.subPages.']:last-child {
  background-image: url(images/footer-green.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 109px;
  background-origin: content-box;
}
